
/* here we set default font size to 14px 
 NOTE: this will probably change, just trying to set up a basic 
 framwork ie: wireframe*/
 p {
    font-size: 14px;
    font-family: "Playfair Display";
}

/* suject to change
here we set h1 font size based on the relative 
size already determined in .splash-section */

.splash-section para {
    font-size: 1.5em;
}