

/* Universal Styles */

 html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    font-weight: lighter;
    background-color: white;
    width: 1600px;
    margin: auto;
    min-height: 100vh;

}


/* Header Styles Christina*/
header {
    background-image: url(/images/bgk-header.png);
    width: auto;
    height: 600px;
}

.top__nav {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
}

.logo1left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo1left p {
    font-family: 'Roboto', 'light';
    font-size: 1.5rem;
    font-weight: 100;
    color: #1d7b8a;
}

.img__left {
    width: 2.2rem;
    height: 2.5rem;
}

.navbar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
}

.navbar__right a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    font-weight: 800;
    font-family: "roboto", "black";
}

.navbar__right a:visited {
    color: rgb(127, 127, 127);
}

.navbar__right a:active {
    color: #1d7b8a;
}

.navbar__right a:hover {
    color: #1d7b8a;
}

.header__parabut { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 5rem;
}

.header__h1 {
    font-family: 'PlayfairDisplay', 'black';
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

hr {
    margin-top: -0.5rem;
    width: 4%;
    border: 1px solid #1d7b8a;
}

.header__para {
    font-family: "roboto", "light";
    font-size: 0.8rem;
    color: white;
    width: 60%;
    line-height: 160%;
}

.header__button {
    background-color: transparent;
    color: #3cc3d8;
    border: 1.5px #3cc3d8 solid;
    padding: 0.5rem 1rem;
    font-family: "roboto", "black";
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
}



/* Second part sect1 logo + our story + button Christina*/







/* third part : link to video and h3 Tania */
.story {
    height: 550px;
    width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    background-image: url(/images/bgk-middle.png);
    background-size: cover;
}

.story a {
    text-decoration: none;
}

.story img {
    width: 100px; 
}

.story h3 {
    margin-top: 10px;
    color: #ffff;
}


/* fourth part : our expertise with the grid system Tania */

.expert {
    height: 753px;
    width: 1600px;
    margin: auto;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 71px;
    text-align: center;
}

.expert h2 {
    color: black;
    font-family: 'PlayfairDisplay', 'black';
    font-size: 22px;
    margin-bottom: .5em;
}

.expert .title_1 {
    color: black;
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 14px;

}

.expert img {
    height: 1px;
    width: 40;
    color: black;
}




/* fifth part : our teams with flex Christina */







/* Sixth part : form and logos Tania */



















/* Footer Christina */